body {
    background-image: url("background.jpg");
    background-color: #cccccc;
    background-position: center;
    position: relative;
    
   }

h1 {
    text-align: center;
    color: #cccccc;
    font-size: 48px;
}

#input-area {
    text-align: center;
    

}

#hr{
    color: #cccccc;
}

#input {
    text-align: center;
}

li {
    margin-top: 2%;
    text-align: center;
    color: #cccccc;
    font-size: 36px;
}